@model ProductModel
 <form method="post" enctype="multipart/form-data" asp-controller="Product" asp-action="UploadImage">
    <input asp-for="ProductId" hidden />
        <span>Select File:</span>
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
</form>
