@model ProducerModel

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Produzent bearbeiten </h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>

            <label asp-for="Region"></label>
            <input asp-for="Region" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary" style="width:200px"> Speichern </button>
        <a asp-controller="Producer" asp-action="Index" class="btn btn-secondary" style="width:200px"> Zurück zur Übersicht </a>
    </div>
</form>

@section Scripts{
    @{ 
    <partial name="_ValidationScriptsPartial.cshtml" />
    }
}